body {
    margin: 0;
    background: #fff;
}

.container {
    justify-content: space-between;
    max-width: 1441px;
    padding-right: 5%;
    padding-left: 5%;
    margin: 0 auto;
    display: flex;
}

.left-column {
    width: 37%;
}

.left-column h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    font-size: 70px;
    color: #1eaa50;
}

.left-column p {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 14px;
    line-height: 25px;
    font-weight: 500;
    color: #464646;
    margin-bottom: 35px;
}

.left-column .icons {
    display: flex;
    justify-content: space-between;
    width: 40%;
}


.left-column .icons .email-icon,
.left-column .icons .linkedin-icon, 
.left-column .icons .github-icon {
    width: 35px;
    transition: 0.5s;
    filter: grayscale(100%);
}

.left-column .icons .email-icon:hover,
.left-column .icons .linkedin-icon:hover,
.left-column .icons .github-icon:hover {
    transition: 0.1s;
    filter: grayscale(0%);
}

.right-column {
    width: 59%;
    padding-top: 30px;
}

.right-column .project-card {
    background: #1eaa50;
    color: white;
    border-radius: 15px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    font-family: 'IBM Plex Sans', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: 0.1s;
}

.right-column .project-card:hover {
    transition: 0.3s;
    transform:scale(1.02);
}

.right-column .project-card .project-title {
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.right-column .project-card .project-description {
    width: 53%;
    line-height: 30px;
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 40px;
}

.right-column .project-card .project-button {
    padding: 13px 20px;
    font-size: 17px;
    font-weight: 700;
    background: white;
    color: #1eaa50;
    border-radius: 6px;
    text-decoration: none;
}